html,
body {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 position: relative;
 --bg: #eee;
 --card-bg: #fff;
 --opacity-transparent: rgba(0, 0, 0, .56);
}

.border-invalid {
 border-color: red !important;
}

.border-valid {
 border-color: green !important;
}

.invalid {
 color: red !important;
}

.valid {
 color: lightgreen !important;
}

body {
 width: 100%;
 height: 100%;
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: 'nunito', sans-serif;
 font-size: 17.5px;
 background-color: var(--bg);
}

.form-field {
 width: 50%;
 margin: 200px auto 0 auto;
 padding: 45px 15px;
 background-color: var(--card-bg);
 border-radius: 3px;
 box-shadow: 0 0 2px var(--opacity-transparent);
 box-sizing: border-box;
}

.input-field {
 width: 100%;
 display: grid;
 padding: 10px 0;
 grid-template-columns: 95% 2.5%;
 border: 2px solid grey;
}

input {
 border: none;
 outline: none;
 font-size: 20px;
 font-weight: 900;
 text-align: center;
 font-family: 'nunito';
 color: #262424;
}

span {
 transform: translateY(7px);
 font-size: 1px;
}